.link-style {
  text-decoration: none;
  color: #403D32;
  padding: 1em;
  display: block;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.link-style:hover {
  background-color: #403D32;
  color: #D7D9CC;
}
